@section Scripts
{
    <script>
        // Partial HTML Lists Accordion
    </script>
}
@{
    var sampleObjectCount = 10;
}

<div class="row">
    <div class="col-5">     
        <div class="row">
            <h3>Standard Accordion</h3>
        </div>
        <br />
        <div class="row">
            <div class="accordion" id="accordionStandard">
                @{
                    for (var i = 0; i < sampleObjectCount; i++)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStandard-collapse@(i)"                                 aria-expanded="false" aria-controls="panelsStandard-collapse@(i)">
                                    Object #@(i).
                                </button>
                            </h2>
                            <div id="panelsStandard-collapse@(i)" class="accordion-collapse collapse" data-bs-parent="#accordionStandard">
                                <div class="accordion-body">
                                    Object body.
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>        
    </div>
    <div class="col-5 offset-2">
        <div class="row">
            <h3>Open Accordion</h3>
        </div>
        <br />
        <div class="row">
            <div class="accordion" id="accordionStayOpen">
                @{
                    for (var i = 0; i < sampleObjectCount; i++)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse@(i)" aria-expanded="false" aria-controls="panelsStayOpen-collapse@(i)">
                                    Object #@(i)
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse@(i)" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Object body.
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        
    </div>
</div>