@section Scripts
{
    <script>
        // Parital HTML Tables Scripts
    </script>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col"> Row </th>
            <th scope="col"> A0 </th>
            <th scope="col"> B0 </th>
            <th scope="col"> C0 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"> 1 </td>
            <td> A1 </td>
            <td> B1 </td>
            <td> C1 </td>
        </tr>
        <tr>
            <td scope="row"> 2 </td>
            <td> A2 </td>
            <td> B2 </td>
            <td> C2 </td>
        </tr>
        <tr>
            <td scope="row"> 3 </td>
            <td> A3 </td>
            <td> B3 </td>
            <td> C3 </td>
        </tr>
        <tr>
            <td scope="row"> 4 </td>
            <td> A4 </td>
            <td> B4 </td>
            <td> C4 </td>
        </tr>
        <tr>
            <td scope="row"> 5 </td>
            <td> A5 </td>
            <td> B5 </td>
            <td> C5 </td>
        </tr>
    </tbody>
</table>