<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RockPaperCode - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RockPaperCode.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RockPaperCode</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Code Samples
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="CodeSamples" asp-action="Html">HTML & CSS</a>
                                <a class="dropdown-item disabled" asp-area="" asp-controller="CodeSamples" asp-action="JavaScript">JavaScript</a>
                                <a class="dropdown-item disabled" asp-area="" asp-controller="CodeSamples" asp-action="CSharp">C#</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="AboutMe" asp-action="Index">About Me</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row flex-wrap me-md-auto">
                        <li class="nav-item col-6 col-sm-auto">
                            <a class="navbar-brand nav-link me-1" href="https://github.com/markrissinger/RockPaperCode">
                                <i class="bi bi-github fa-4x"></i>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-lg-1 col-12 col-sm-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                            <hr class="d-lg-none" />
                        </li>
                        <li class="nav-item dropdown me-3">
                            <a class="navbar-brand nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i id="currentThemeIcon" class=""></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" id="setThemeLight" href="#"><i class="bi bi-brightness-high small"></i>&nbsp Light </a></li>
                                <li><a class="dropdown-item" id="setThemeDark" href="#"><i class="bi bi-moon-fill small"></i>&nbsp Dark </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br /><br />

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
</body>
</html>