@{
    ViewData["Title"] = "C# Code Samples";
}

<div class="text-center">
    <h1 class="display-4">C# Code Samples!</h1>
    <br/><br/>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
</div>
