@{
    ViewData["Title"] = "HTML Code Samples";
}

<div class="text-center">
    <h1 class="display-4">HTML Code Samples!</h1>
    <br/><br/>
    <div class="row">
        <div class="col">
            <h1>Purpose</h1>
            <p>This <strong>amazing</strong> web application is a sandbox for testing various <code>code</code> scenarios!</p>
        </div>
        <div class="col">
            <h1>Feedback</h1>
            <p>All feedback should be directed towards the <a href="https://github.com/markrissinger/RockPaperCode">GIT repository</a>.</p>
        </div>
    </div>
</div>
