@{
    ViewData["Title"] = "HTML Code Samples";
}
@section Scripts
{
    <script>
        // HTML Code Sample JS Code
        $(document).ready(function () {
            $("#htmlSampleDropdown").on("change",
                function (e) {
                    var codeSample = $("#htmlSampleDropdown").val();
                    $("#htmlCodeExamplePartialRender").load("/CodeSamples/HtmlCodeSample", { codeSample: codeSample });
                });
        });
    </script>
}

<div class="row text-center">
    <h1>HTML Code Samples</h1>
</div>

<br />

<!--Code Sample Selector-->
<div class="row">
    <div class="col-3">
        <select id="htmlSampleDropdown" class="form-select" aria-label="Default select example">
            <option value="_PartialHtmlIndex" selected></option>
            <option value="_PartialHtmlAccordion">Accordion</option>
            <option value="_PartialHtmlCards">Cards</option>
            <option value="_PartialHtmlCarousel">Carousel</option>
            <option value="_PartialHtmlForms">Forms</option>
            <option value="_PartialHtmlLists">Lists</option>
            <option value="_PartialHtmlModals">Modals</option>
            <option value="_PartialHtmlTables">Tables</option>
        </select>
    </div>    
</div>

<br />
<hr />
<br />

<!--Partial Render Window-->
<div class="container-fluid" id="htmlCodeExamplePartialRender">
    <br /> 
    <br /> 
    <br /> 
    <br /> 
    <br />
</div>
