@{
    ViewData["Title"] = "HTML Code Samples";
}
@section Scripts
{
    <script>
        // HTML Code Sample JS Code
        $(document).ready(function () {
            $("#htmlSampleDropdown").on("change",
                function (e) {
                    $.get(@{Url.ActionLink()}url, function (data) {
                        $detailDiv.replaceWith(data);
                    });
                });
        });
    </script>
}

<div class="row text-center">
    <h1 class="display-4">HTML Code Samples!</h1>
</div>

<!--Code Sample Selector-->
<div class="row">
    <div class="col-3">
        <select id="htmlSampleDropdown" class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="_PartialHtmlLists">Lists</option>
            <option value="_PartialHtmlTables">Tables</option>
            <option value="_PartialHtmlForms">Forms</option>
        </select>
    </div>    
</div>

<br />
<hr />
<br />

<!--Partial Render Window-->
<div class="container-fluid" id="htmlCodeExamplePartialRender">
    <br /> 
    <br /> 
    <br /> 
    <br /> 
    <br />
</div>
